<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Storyblok + Astro</title>
  </head>

  <body class="prose my-10 mx-auto max-w-3xl px-4">
    <nav>
      <ul class="flex list-none space-x-4 font-semibold text-lg p-0">
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </hav>
    <slot />
  </body>
</html>
